<h1> Preencha o formulário abaixo </h1>
<form action="/main/add_per" method="POST">
  <label for="usuario">Nome do Usuario:</label>

 
 <select class="form-control" id="usuario" name="usuario">
    <option th:each="usuario : ${usuarios}"
          
            th:value="${usuario.id}"
            th:text="${usuario.login}">Part name</option>
</select>

  <label for="role">Nome da Role:</label>

 <select class="form-control" id="role" name="role">
    <option th:each="role : ${roles}"
          
            th:value="${role.nomeRole}"
            th:text="${role.nomeRole}">Part name</option>
</select>
 
  <input type="submit" value="Salvar">
</form> 

<h2>Devido ao relacionamento entre as tabelas Usuario e Roles ser do tipo Muitos para Muitos, 
é preciso deletar os registros que contenham a respectiva Role na tabela USUARIOS_ROLES.
Caso isso não seja feito a exclusão da Role vai apresentar erro.
</h2>




<table class="table table-striped table-hover table-sm">
<thead>
<tr>
  <th>USUARIO</th>
  <th>ROLE</th>



</tr>
</thead>
<tbody>
  <tr th:each="rel : ${rels}" >
     <td th:text="${rel[0]}">2</td>
       <td th:text="${rel[1]}">2</td>

   <td> 
   
   <form action="/main/dell_per" method="POST">
  
  <input type="hidden" th:value="${rel[0]}" name="usuario">
    <input type="hidden" th:value="${rel[1]}" name="role">
  <input type="submit" value="Deletar">
</form> 
   
    </td>
  </tr>
</tbody>

</table>